.home {
    background-color: #f1f0eee2;
    min-height: 950px;
    height: 150%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home__line {
    font-size: 2.5em;
}