.home {
    background-color: #f1f0eee2;
    min-height: 950px;
    height: 150%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home__line {
    font-size: 2.5em;
}

@media (max-width: 786px) {
    .home{
        width: 99%;
    }
    .home__line{
        width: 95%;
        text-align: center;
        font-size: 40px;
    }
    .home__p{
        width: 90%;
        padding-left: 5%;
    }
}
