.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
}

.navbar__img {
    height: 40px;
    border-radius: 20px;
}

.navbar__logo {
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

.navbar__home {
    font-size: 1.1em;
}

.navbar__homeColor {
    color: rgb(107, 106, 106);
}

.navbar__login {
    background-color: #de5246;
    text-align: center;
    padding: 10px 16px;
    border-color: #eca8a1;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.navbar__login:focus {
    outline: none;
    cursor: pointer;
}


@media (max-width: 786px) {
    .navbar{
        width: 90%;
        padding-left: 25px;
    }
}
